.bar{
  block-size: 2.5rem;
  margin-block-start: 2.5rem;
  margin-inline-start: 1.25rem;
  background-color: #E8E8E8;
  border-start-start-radius: 6.25rem;
  border-end-start-radius: 6.25rem;
  position: relative;
}

.bar::before{
  content: '';
  position: absolute;
  inline-size: 60%;
  block-size: 2.5rem;
  background-color: #2FB464;
  border-radius: 6.25rem;
}

@media screen and (min-width: 768px){
  .bar{
    margin-block-start: 3.75rem;
    margin-inline-start: 0;
    border-start-end-radius: 6.25rem;
    border-end-end-radius: 6.25rem;
  }
}