.sticky{
  /* display: sitk; */
  
  margin: auto;
  block-size: var(--phoneBlockSize);
  /* text-align: center; */
  inline-size: 16.5rem;
  
  margin-block-start: calc(var(--phoneBlockSize) / 2 * -1);
  background-image: linear-gradient(to bottom, transparent 0%, transparent 50%, white 50%, white);
}

.sticky img{
  vertical-align: middle;
  max-block-size: 100%;
}

@media screen and (min-width: 768px){
  .sticky{
    /* display: none; */
    position: sticky;
    inset-block-start: 124px;
    block-size: unset;
    inline-size: var(--phoneInlineSize);
    margin-block-start: unset;
    grid-area: phone;
    background-image: linear-gradient(to bottom, transparent 0%, transparent 50%, transparent 50%, transparent);
  }

  .sticky img{
    max-block-size: unset;
    max-inline-size: 100%;
  }
}